
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<div>
    <h1>Biz Kimiz?</h1>
    <p>
        JKSHJDKDJHDJKAHLKDAJDDDAŞKADDA
        DAŞKDAŞLKADLJDAKLJADKADAD
        ADJADKHJDJADHJKADHADJKDAADKAJDKADADADAD
    </p>
</div>
